block content

	each forum in forums
		div(class="forum")
			div(class="forum-title")
				a(href=forum[forumPath]) forum[forumName]

			div(class="forum-description")
				#{forum[forumDescription]}

			div(class="last-post")
				a(href=forum[threadPath]) #{forum[threadName]}
				a(href=forum[profileUrl]) #{forum[profileName]}
				span #{forum[postDate]}