extends layout

block content
	h1 Massive Multi-User Miscellaneous Mumbling
	p Welcome to #{MMMM}

	if user
		a(href=userUrl) User
		a(href="/signout") Sign Out
	else
		form(name="login",method="POST",action="/login")
			input(id="login-username",name="login-password",type="text",value="")
			input(id="login-password",name="login-password",type="password",value="")
			input(type="submit",value="Login")

	each forum in forums
		div(class="forum")
			div(class="forum-title")
				a(href=forum[forumPath]) forum[forumName]

			div(class="forum-description")
				#{forum[forumDescription]}

			div(class="last-post")
				a(href=forum[threadPath]) #{forum[threadName]}
				a(href=forum[profileUrl]) #{forum[profileName]}
				span #{forum[postDate]}