extends layout.pug

block content
	.card
		.card-header
			.card-title 
			h3 Thread Title

	each post in posts
		.content-style.card-body
			p #{post[2]}
			.text-muted.last-post
				//- p Posted by: #{post}
	
	//- each post in posts
	//- 	div(class=" postheader")
	//- 		span #{post[postNum]}
	//- 	div(class="post")
	//- 		div(class="poster-info")
	//- 			span #{post[posterUN]}
	//- 			span #{post[numofPost]}
	//- 		div(class="post-content")
	//- 			p #{post[content]}
	//- 			div(class="post-footer")
	//- 				span #{post[createDate]}
					
	//- 				if post[editdate]
	//- 					span #{post[editDate]}