block content
	extends layout.pug

block content
	div(class="row content-border")
		div(class="col")
			div(class="row")
				div(class="col")
					span awesome forum
			div(class="row")
				div(class="col")
					span awesome forum description
		div(class="col")
			div(class="row")
				div(class="col")
					div(class="row")
						span thread name
					div(class="row")
						span poster time


		each post in posts
			div(class=" postheader")
				span #{post[postNum]}
			div(class="post")
				div(class="poster-info")
					span #{post[posterUN]}
					span #{post[numofPost]}
				div(class="post-content")
					p #{post[content]}
					div(class="post-footer")
						span #{post[createDate]}
						
						if post[editdate]
							span #{post[editDate]}